/.DS_Store
/.env
/.claude
/.history
/.venv
/__pycache__
/bot.log
/dime_usd_5m.html
/signals.csv
/trades.csv
sk-antFIFiw69rx8LUE2Op5zjIZJO7CAk8772wF50FoJOA6seAIMThNvemY8Xf4ptlsvEOUqCoq438AAn9FhOYtL2O4Q-DpGJgwAA